@import "tailwindcss";

@theme inline {
  --color-industrial-900: #0f1115;
  --color-industrial-800: #1a1d23;
  --color-industrial-700: #2b3039;
  --color-industrial-500: #71717a;

  --color-safety-orange: #ff5c00;
  --color-safety-yellow: #dfff00;

  --color-silver: #e2e8f0;

  --font-display: var(--font-oswald);
  --font-mono: var(--font-jetbrains);
}

:root {
  --background: #0f1115;
  --foreground: #e2e8f0;
}

body {
  background: var(--background);
  color: var(--foreground);
}
